<form [formGroup]="demoFormGroup">
  <fieldset class="fieldset">
    <div class="form-control">
      <label for="datepicker" class="form-control__label">Calendar</label><br>
      <span libModalToggle [modal]="datepickerModal">
        <input type="text" readonly id="datepicker" placeholder="Select date" [value]="datepickerControl.value | date">
        <button type="button" aria-haspopup="dialog" aria-owns="datepicker-calendar">📅</button>
      </span>
    </div>
    <lib-modal #datepickerModal>
      <lib-calendar [formControl]="datepickerControl"
                    id="datepicker-calendar"
      ></lib-calendar>
    </lib-modal>
  </fieldset>

  <!-- <fieldset class="fieldset">
    <legend>CalendarComponent's inputs (update the calendar below)</legend>

    <div class="form-control">
      <label for="locale" class="form-control__label">Locale</label>
      <select id="locale" formControlName="locale">
        <option value="">Default (US English)</option>
        <option value="en-GB">British English</option>
        <option value="hu">Hungarian</option>
        <option value="es">Spanish</option>
      </select>
    </div>

    <div class="form-control">
      <label for="first-day-of-week" class="form-control__label">First day of week</label>
      <select id="first-day-of-week" formControlName="firstDayOfWeek">
        <option value="">Default (based on locale)</option>
        <option>Sunday</option>
        <option>Monday</option>
      </select>
    </div>

    <div class="form-control">
      <label for="min" class="form-control__label">Minimum date</label>
      <input type="date" id="min" formControlName="min" placeholder="YYYY-MM-DD">
    </div>

    <div class="form-control">
      <label for="first-month" class="form-control__label">First month</label>
      <input type="date" id="first-month" formControlName="firstMonth" placeholder="YYYY-MM-DD">
    </div>

    <div class="form-control">
      <label for="number-of-months" class="form-control__label">Number of months</label>
      <input type="number" id="number-of-months" formControlName="numberOfMonths" min="1" max="1200">
    </div>

    <div class="form-control">
      <label for="month-and-year-format" class="form-control__label">Month and year format</label>
      <input type="text" id="month-and-year-format" formControlName="monthAndYearFormat" placeholder="y, MMMM">
    </div>

    <div class="form-control">
      <label for="disabled" class="form-control__label">Disabled</label>
      <input id="disabled" type="checkbox" formControlName="disabled">
    </div>

    <button (click)="selectToday()" class="form-control" type="button">Select today</button>

    <div class="form-control" tabindex="0">
      <label class="form-control__label">Selected date</label>:
      <output for="calendar">{{dateControl.value | date}}</output>
    </div>
  </fieldset>

  <lib-calendar [firstDayOfWeek]="firstDayOfWeekControl.value"
                [locale]="localeControl.value"
                [min]="minDate$ | async"
                [firstMonth]="firstMonth$ | async"
                [monthAndYearFormat]="monthAndYearFormatControl.value"
                [numberOfMonths]="numberOfMonthsControl.value"
                [formControl]="dateControl"
                id="calendar"
  ></lib-calendar> -->
</form>
